.main{
	width:50%;
	background-color:#ddd;
	display:flex;
	justify-content:center;
	text-align: center;
}
.left{
	width:60%;
	border:3px solid #2df;
	box-shadow: 3px 3px 3px blue;
	margin: 1%;
	padding: 1%;
}
.right{
	width:70%;
	border:3px solid #00f;
	box-shadow: 3px 3px 3px yellow;
	margin:1%;
	padding: 1%; 
}
img{
	width:300px;
}
h1,
h2,
h3,
h4{
	font-size: 33px;
}
@media only screen and (min-width:320px) and (max-width: 460px){
	.main{
		display:flex;
		flex-wrap: wrap;
	}
	.left{
		width:95%;

	}
}
@media only screen and(max-width:1024px){
	.main{
		display:flex;
		flex-direction: colomn;
	}
}